@import url(https://fonts.googleapis.com/css?family=Oswald);

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background-image: url("./resources/static/light.png");
	overflow: hidden;
	font-family: Oswald;
	font-size: 100%;
	margin: 0;
	cursor: default;

	-webkit-transition: background-image ease-in 0.5s;
	-moz-transition: background-image ease-in 0.5s;
	-ms-transition: background-image ease-in 0.5s; 
	transition: background-image ease-in 0.5s;
}

p {
	margin-bottom: 1%;
}

input {
	font-family: Oswald;
}

.periodictable {
	color: #000;
	width:50px;
    height: 65px;
    padding:0;
    margin:0;
    text-align: center;
    -webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-ms-transition: box-shadow 0.3s ease; 
	transition: box-shadow 0.3s ease;
}

.atom:hover {
	box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
}

.atomvalue  {
	font-size: 65%;
	margin: 0;
	padding: 0;
}

.oxid {
	margin: 0;
	display: inline-block;
}

.oxidStat {
	margin-top: 0;
	display: inline-block;
}

.oxid:first-letter {
	font-size: 175% !important; 
}

.common {
	-webkit-filter: drop-shadow(4px 4px 3px #010);
	filter: drop-shadow(4px 4px 3px #010);
}

img {
	-webkit-filter: drop-shadow(4px 4px 3px #444);
	filter: drop-shadow(4px 4px 3px #444);
}

.desc {
	font-size:110%;
	display: inline-block;
	margin-right: 3%;
	margin-top: 0;
	height:10%;
}

.setting {
	display: flex;
	position: relative;
	height:100%;
	width:100%;
	margin-left: 4%;
	margin-bottom: 10%;
}

.option {
	position: relative;
	display: inline-block;
	font-size: 130%;
	margin-top : -2%;
}

.selection {
	margin-top: -5%;
	padding: 4px;
	box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
	margin-top: 0;

	-webkit-transition: box-shadow 0.3s ease, color 0.7s ease;
	-moz-transition: box-shadow 0.3s ease, color 0.7s ease;
	-ms-transition: box-shadow 0.3s ease, color 0.7s ease; 
	transition: box-shadow 0.3s ease, color 0.7s ease;
}

.selection:hover {
	cursor: pointer;
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.dropdown {
	display: none;
	opacity: 0;
	position: absolute;
	box-shadow: 4px 4px 3px #444;
	z-index: 50;

	-webkit-transition: opacity 0.3s ease;  
	-moz-transition: opacity 0.3s ease; 
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dropdown p {
	color: black;
	margin:0;
	background-color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;  
	-moz-transition: background-color 0.3s ease, opacity 0.3s ease; 
	-ms-transition: background-color 0.3s ease, opacity 0.3s ease;
	transition: background-color 0.3s ease, opacity 0.3s ease; 
}

.dropdown p:hover {
	background-color:#CECDCD;
}

.tDesc {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 150%;
}

.pulltab {
	position: fixed;
	margin-left: -6%;
	padding: 0.5%;
	width: 6.2%;
	height: 4%;
	background-color: #b3daff;
	box-shadow: 2px 2px 5px 3px #333;
	cursor: pointer;

	-webkit-transition: transform 0.2s ease, margin 0.3s ease, color 0.4s ease;  
	-moz-transition: transform 0.2s ease, margin 0.3s ease, color 0.4s ease; 
	-ms-transition: transform 0.2s ease, margin 0.3s ease ,color 0.4s ease;
	transition: transform 0.2s ease, margin 0.3s ease, color 0.4s ease; 
}

.pulltab:hover {
	margin-left: 0%;
}

.first {
	margin-top:5%;

}
.second {
	margin-top: 12%;
}

.third {
	margin-top: 19%;
}

.sidebar {
	position: absolute;
	background-color: #e6f5ff;
	min-height: 100%;
	padding: 15px 20px 15px 15px;
	box-shadow: 2px 2px 5px 3px #333;
	z-index:5;
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-transition: margin 0.5s ease, background-color 0.5s ease;  
	-moz-transition: margin 0.5s ease, background-color 0.5s ease; 
	-ms-transition: margin 0.5s ease, background-color 0.5s ease;
	transition: margin 0.5s ease, background-color 0.5s ease; 
}

.elements {
	margin-left: -150%;
	height:100%;
	padding-right: 10px;
}

.settings {
	margin-left: -40%;
	width: 20%;
}

.tools {
	margin-left: -170%;
	height: 100%;
	width: 90%;
}

.atom {
	cursor: pointer;
}

.fa {
	float: right;
	font-size: 250% !important;
	color: #585858;
	margin: 0 1% 3% 1%;
	cursor: pointer;

	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease; 
	transition: color 0.5s ease;
}

.fa:hover {
	color: #FF746B;
}

.tabletitle {
	text-align: center;
}

.key {
	margin-left: 18%;
	margin-bottom: -20%;
	margin-top: 15%;
}

.keycolor {
	width: 20px;
	height: 25px;
}

.keyvalue {
	line-height: 1em;
	height: 5%;
	padding-right: 2.5%;
	text-align: left;
}

#keylegend {
	position: absolute;
	top: 16%;
}

.legendholder {
	position:absolute;
	top: 16%;
	left: 35%;
	z-index: -1;
}

.legend {
	border-collapse: collapse;
	max-width: 55%;
}

.legendcell {
	width: 2px;
	height: 25px !important;
}

.legendrangeval {
	display: flex;
}

.minlegend {
	position: relative;
	right:3%;
	bottom:10;
}

.maxlegend {
	position: relative;
	left: 43%;
	bottom:50;
}

.normal {
	border: 1px hidden;
	margin: 3%;
}
.extension {
	border: 1px hidden;
	margin-top:3%;
	margin-left: 10%;
}

.infoBox {
	margin-bottom: 5%;
	display: flex;
	cursor: text;
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.preview {
	margin: 3%;
}

.info1, .info2 {
	margin: 3%;
}
.info1 {
	width: 25%;
}

.info2 {
	width: 33%;
}

.sh {
	margin-top: 32%;
	text-align:center;
	font-size:300%;
	color:#fff;
	text-shadow: 4px 4px 5px #444;
}

.help {
	padding: 1px 1px 5px 2px;
	margin-right: 3%;
	text-align:center;
	width: 20px;
	height: 20px;
	box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);

	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-ms-transition: box-shadow 0.3s ease; 
	transition: box-shadow 0.3s ease;
}

.help:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.helptab {
	position:absolute;
	display: none;
	opacity: 0;
	top: 80%;
	margin-left: -8%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 17px solid #fefefe;

	-webkit-filter: drop-shadow(4px 0px 3px #444);
	filter: drop-shadow(4px 0px 3px #444);

	-webkit-transition: opacity 0.3s ease;  
	-moz-transition: opacity 0.3s ease; 
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease; 
}

.helptext {
	position:absolute;
	display: none;
	opacity: 0;
	border-radius: 7px;
	top: 102%;
	margin-left: -12%;
	padding: 5px;
	font-size: 90%;
	color: #000;
	background-color: #fefefe;
	box-shadow: 4px 4px 3px #444;
	z-index:60;

	-webkit-transition: opacity 0.3s ease;  
	-moz-transition: opacity 0.3s ease; 
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease; 
}

.about {
	position: absolute;
	bottom: 3%;
	max-width: 70%;
	margin-left: 3.5%;
	font-size: 110%;
}

.github {
	font-size: 120%;
	color: #23527C;
	text-decoration: none;

	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease; 
	transition: color 0.3s ease;

}
.github:hover {
	text-decoration: none;
	color: #69CBE4;
}

.realAtom {
	cursor: pointer;
}

.eye {
    -webkit-animation: updown 1.3s infinite alternate ease;
    animation: updown 1.3s infinite alternate ease;
}

#balancebutton {
	width: 10%;
	font-size: 175%;
	margin-right: 3%;
	padding: .5%;
	text-align:center;
	box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);

	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-ms-transition: box-shadow 0.3s ease; 
	transition: box-shadow 0.3s ease;
}

#balancebutton:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.balanceout {
	text-align: center;
	width: 15%;
	height: 4%;
	font-size: 110%;
}

@-webkit-keyframes updown {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-4px); }
}

@keyframes updown {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-4px); }
}